.padding-left-0{
	padding-left: 0px !important;
}
.margin-0{
	margin: 0px !important;
}
.padding-0{
	padding: 0px !important;
}
body{
    font-family: 'Roboto' !important;
    font-weight: lighter !important;
}
:root {
  --avatar-size: 18rem;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
  background-color: #ccc;
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px;
}

.initials {
  font-size: 17px; /* 50% of parent */
  line-height: 1;
  position: relative;
  top: 12; /* 25% of parent */
}
.card-margin{
    margin:5px !important;
}
.card-panel{
    padding:10px;
    border-radius: 5px;
}
.card-title-text{
	color: #616161;
	font-size:13px;
}
.card-sub-text{
	color: #616161;
	font-size:11px;
}
.card-content-text{
	color: #616161;
	font-size:13px;
}
.card-content-image{
	max-height: 70px;
	border-radius:5px; 
}
.card-operation{
	padding: 10px 0px 0px 0px;
}
.padding-20{
	
}
.gold-badge{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.silver-badge{
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}
.brownz-badge{
    background-color: #772f1a;
    background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}
.thumbnail{
	width: 50px;
	height: 50px;
}
.gold{
    color: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}